.activeFilter {
  border: 1px solid orange;
}

.todoFilter {
  display: flex;
  gap: 5px;
  cursor: pointer;
  justify-content: space-between;
  padding: 10px;
  background-color: #fbfafa;

  &Items {
    display: flex;
    gap: 10px;
    height: 36px;
    align-items: center;
  }
  p {
    cursor: pointer;
    padding: 5px 10px;
    transition: all 0.2s;
    border-radius: 5px;
  }
}
